{"openapi":"3.0.1","info":{"title":"SCIM Service API","description":"SCIM Service API for user provisioning","version":"v2"},"servers":[{"url":"https://private.main.prod.k8s.catonet.works/scimservice","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"paths":{"/scim/v2/{accountId}/{sourceId}/Users/{id}":{"get":{"tags":["user-controller"],"operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"excludedAttributes","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}}}},"put":{"tags":["user-controller"],"operationId":"put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}}}},"delete":{"tags":["user-controller"],"operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}}}},"patch":{"tags":["user-controller"],"operationId":"patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}}}}},"/scim/v2/{accountId}/{sourceId}/Groups/{id}":{"get":{"tags":["group-controller"],"operationId":"get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"excludedAttributes","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LeanGroupDTO"}}}}}},"put":{"tags":["group-controller"],"operationId":"put_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeanGroupDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LeanGroupDTO"}}}}}},"delete":{"tags":["group-controller"],"operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LeanGroupDTO"}}}}}},"patch":{"tags":["group-controller"],"operationId":"patch_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LeanGroupDTO"}}}}}}},"/scim/v2/{accountId}/{sourceId}/Users":{"get":{"tags":["user-controller"],"operationId":"search","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"startIndex","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"params","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseUserDTO"}}}}}},"post":{"tags":["user-controller"],"operationId":"post","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}}}}},"/scim/v2/{accountId}/{sourceId}/Groups":{"get":{"tags":["group-controller"],"operationId":"search_1","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"startIndex","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"params","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseLeanGroupDTO"}}}}}},"post":{"tags":["group-controller"],"operationId":"post_1","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupDTO"}}}}}}}},"components":{"schemas":{"AdditionalData":{"type":"object","properties":{"onPremisesSecurityIdentifier":{"type":"string"},"dirSyncEnabled":{"type":"boolean"}}},"Email":{"type":"object","properties":{"primary":{"type":"boolean"},"value":{"type":"string"},"type":{"type":"string"}}},"Name":{"type":"object","properties":{"givenName":{"type":"string"},"familyName":{"type":"string"}}},"PhoneNumber":{"type":"object","properties":{"primary":{"type":"boolean"},"type":{"type":"string"},"value":{"type":"string"}}},"UserDTO":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"created":{"type":"string"},"lastModified":{"type":"string"},"id":{"type":"string"},"externalId":{"type":"string"},"userName":{"type":"string"},"name":{"$ref":"#/components/schemas/Name"},"active":{"type":"boolean"},"emails":{"type":"array","items":{"$ref":"#/components/schemas/Email"}},"phoneNumbers":{"type":"array","items":{"$ref":"#/components/schemas/PhoneNumber"}},"urn:ietf:params:scim:schemas:extension:catonetworks:2.0:User":{"$ref":"#/components/schemas/AdditionalData"}}},"LeanGroupDTO":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"created":{"type":"string"},"lastModified":{"type":"string"},"id":{"type":"string"},"externalId":{"type":"string"},"displayName":{"type":"string"}}},"GroupDTO":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"created":{"type":"string"},"lastModified":{"type":"string"},"id":{"type":"string"},"externalId":{"type":"string"},"displayName":{"type":"string"},"members":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/Member"}}}},"Member":{"type":"object","properties":{"value":{"type":"string"}}},"JsonNode":{"type":"object"},"OperationDTO":{"type":"object","properties":{"op":{"type":"string"},"path":{"type":"string"},"value":{"$ref":"#/components/schemas/JsonNode"}}},"PatchRequestDTO":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"Operations":{"type":"array","items":{"$ref":"#/components/schemas/OperationDTO"}}}},"ListResponseUserDTO":{"type":"object","properties":{"startIndex":{"type":"integer","format":"int32"},"itemsPerPage":{"type":"integer","format":"int32"},"totalResults":{"type":"integer","format":"int64"},"schemas":{"type":"array","items":{"type":"string"}},"Resources":{"type":"array","items":{"$ref":"#/components/schemas/UserDTO"}}}},"ListResponseLeanGroupDTO":{"type":"object","properties":{"startIndex":{"type":"integer","format":"int32"},"itemsPerPage":{"type":"integer","format":"int32"},"totalResults":{"type":"integer","format":"int64"},"schemas":{"type":"array","items":{"type":"string"}},"Resources":{"type":"array","items":{"$ref":"#/components/schemas/LeanGroupDTO"}}}}},"securitySchemes":{"bearerAuth":{"type":"http","name":"bearerAuth","scheme":"bearer","bearerFormat":"JWT"}}}}